@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}